/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #fff;
    transition: all 0.3s;
    border-right: 2px solid black;

}

#sidebar.active {
    margin-left: -250px;
}

 .sidebar-header {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    justify-content: center;
}
#sidebar p{
    padding-top: 40px;
    padding-left:20px;
}
.sidebar-header a{
padding-top: 30px;
padding-bottom: 30px;
}


#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    
}
#content nav{
    
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    /*
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);*/
}
#top-center p{
    margin-left: 26%;
    font-weight:lighter;
    font-size: 35px;
    color: black;
}
#drow{
    margin-top: 9%;
    margin-left: 15%;
}

.col-sm-4{
   
    padding-top:3%;
    padding-bottom: 1%;
}
.col-sm-4:hover{
background-color: whitesmoke;

transition: all 1s;
}
#row2{
    margin-left:20%;
}
#row2 #col2{
    margin-left: 10%;
}/*
form{
    border-radius: 25px;
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}
form h2{
    margin-bottom: 4%; 
}
form .btn{
    margin-top:3%;
    width: 25%;
}*/


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .sidebar-header{
        padding-bottom: 35px;
    }
    #row2{
        margin-left: auto;
    }
    #row2 #col2{
        margin-left: auto;
    }
}